{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/inventory.css">
{% endblock %}
{% block title %}Inventory{% endblock %}
{% block body %}
	<h1>Inventory</h1>
	{% if can_create %}
		<form action='/inventory/new' method='GET'>
		<button>Create new item</button><br>
		</form>
	{% endif %}
	{% for item in items %}
		<a href='/inventory/{{ item.inventory_id }}'>
			<div class='inventory-card'>
				<h3>{{ item.inventory_description if item.inventory_description is not none() else '' }}</h3>
				<p>{{ item.inventory_manufacturer if item.inventory_manufacturer is not none() else '' }}</p>
				<p>{{ item.inventory_make if item.inventory_make is not none() else '' }}</p>
				<div class='modify-buttons'>
					{% if can_edit %}
						<a href='/inventory/{{ item.inventory_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</a>
					{% endif %}
					{% if can_delete %}
						<a href='/inventory/{{ item.inventory_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</a>
					{% endif %}
				</div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
