{% extends 'base.html' %}
{% block title %}Our Crap{% endblock %}
{% block body %}
<h1>Our Crap</h1>
<table id='inventory-table'>
<tr>
	<th>Item</th>
	<th>Serial</th>
	<th>Make</th>
	<th>Model</th>
	<th>Manufacturer</th>
	<th>Location</th>
	<th>Notes</th>
</tr>
{% for item in items %}
<tr>
	<td><a href='/inventory/{{ item.inventory_id }}'>{{ item.inventory_description }}</a></td>
	<td class='serial'>{{ item.inventory_serial_number }}</td>
	<td>{{ item.inventory_make }}</td>
	<td>{{ item.inventory_model }}</td>
	<td>{{ item.inventory_manufacturer }}</td>
	<td>{{ item.inventory_location }}</td>
	<td class='notes'>{% if item.inventory_other_notes is not none %}{{ item.inventory_other_notes }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
