{% extends 'base.html' %}
{% block title %}Inventory - {{ item.inventory_description }}{% endblock %}
{% block body %}
<h1><a href='/inventory/'>Inventory</a></h1>
<h2>{{ item.inventory_description }}</h2>
<p>
Serial Number: {{ item.inventory_serial_number }}<br/>
Make: {{ item.inventory_make }}<br/>
Model: {{ item.inventory_model }}<br/>
Manufacturer: {{ item.inventory_manufacturer }}<br/>
</p>
<h3>Location</h3>
<p>{{ item.inventory_location }}<p>
<h3>Notes</h3>
<p>{% if item.inventory_other_notes is not none %}{{ item.inventory_other_notes }}{% endif %}</p>
{% if can_edit %}
<a href='/inventory/{{ item.inventory_id }}/edit'>Edit</a><br/>
{% endif %}
{% if can_delete %}
<a href='/inventory/{{ item.inventory_id }}/delete'>Delete</a>
{% endif %}
{% endblock %}
