{% extends 'base.html' %}
{% block title %}Inventory - {{ item.inventory_description }}{% endblock %}
{% block body %}
<h1><a href='/inventory/'>Inventory</a></h1>
<h2>{{ item.inventory_description }}</h2>
<p>
Serial Number: {{ item.inventory_serial_number if item.inventory_serial_number else '' }}<br/>
Make: {{ item.inventory_make if item.inventory_make else ''}}<br/>
Model: {{ item.inventory_model if item.inventory_model else '' }}<br/>
Manufacturer: {{ item.inventory_manufacturer if item.inventory_manufacturer else '' }}<br/>
</p>
<h3>Location</h3>
<p>{{ item.inventory_location }}<p>
<h3>Notes</h3>
<p>{{ item.inventory_other_notes if item.inventory_other_notes else '' }}</p>
{% if can_edit %}
<a href='/inventory/{{ item.inventory_id }}/edit'>Edit</a><br/>
{% endif %}
{% if can_delete %}
<a href='/inventory/{{ item.inventory_id }}/delete'>Delete</a>
{% endif %}
{% endblock %}
