{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/vms.css">
	<link rel="stylesheet" href="/static/css/overlay.css">
{% endblock %}
{% block add_head %}
	<script>
		function showDetails(id) {
			document.getElementById(id + "-overlay").style.width = "100%";
		}

		function hideDetails(id) {
			document.getElementById(id).style.width = "0%";
		}
	</script>
{% endblock %}
{% block title %}VMs{% endblock %}
{% block body %}
	<h1>VMs</h1>
    {{vms}}
	{% if can_create %}
		<button onclick="location.href='/vms/new';">Create new VM</button><br>
	{% endif %}
	{% for vm in vms %}
		<a onclick="showDetails(this.id)" id='{{ vm.vm_id }}' >
			<div class='vm-card'>
				<h3>{{ vm.name }}</h3>
				<p>{{ vm.owner_id }}</p>
				<div class='modify-buttons'>
					{% if can_edit %}
						<button id='editButton' href='/vms/{{ vm.vm_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</button>
					{% endif %}
					{% if can_delete %}
						<button id='deleteButton' href='/vms/{{ vm.vm_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</button>
					{% endif %}
				</div>
			</div>
		</a>
		<div id='{{ vm.vm_id }}-overlay' class='overlay'>
			<div class='overlay-content'>
				<a href='javascript:void(0)' id='{{ vm.vm_id }}-overlay' class='closebtn' onclick='hideDetails(this.id)'>X</a>
				<h1>{{ vm.name }}</h1>
				<h3>Owner</h3>
				<p><strong>Name:</strong> {{ vm.owner_id }}</p>
				<h3>Network Information</h3>
				<p><strong>Network:</strong> {{ vm.network }}</p>
				<p><strong>Role:</strong> {{ vm.role}}</p>	

				<div id="modify-buttons-overlay">
					{% if can_edit %}
						<button id='editButton' href='/vms/{{ vm.vm_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</button>
					{% endif %}
					{% if can_delete %}
						<button id='deleteButton' href='/vms/{{ vm.vm_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	<script src='/static/events.js'></script>
{% endblock %}
