{% extends 'base.html' %}
{% block title %}VMs - {{ vm.vms_name }}{% endblock %}
{% block body %}
<h1><a href='/vms'>VMs</a></h1>
<h2>VM Information</h2>
<p>
Name: <strong>{{ vm.vms_name }}</strong>
</p>
<p>
Owner: <strong>{{ vm.people_read_full_name }}</strong><br/>
</p>
<h2>Network Information</h2>
<p>
Network: <strong>{{vm.vms_network}}</strong>
</p>
<p>
Role: <strong>{{vm.vms_role}}</strong>
</p>
{% if can_edit %}
<a href='/vms/{{ vm.vms_id }}/edit'>Edit</a><br/>
{% endif %}
{% if can_delete %}
<a href='/vms/{{ vm.vms_id }}/delete'>Delete</a>
{% endif %}
{% endblock %}
