{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/presentations.css">
	<link rel="stylesheet" href="/static/css/overlay.css">
{% endblock %}
{% block add_head %}
	<script>
		function showDetails(id) {
			document.getElementById(id + "-overlay").style.width = "100%";
		}

		function hideDetails(id) {
			document.getElementById(id).style.width = "0%";
		}
	</script>
{% endblock %}
{% block title %}Presentations{% endblock %}
{% block body %}
	<h1>Presentations</h1>
    {{presentations}}
	{% if can_create %}
		<button onclick="location.href='/presentations/new';">Create new Presentation</button><br>
	{% endif %}
	{% for presentation in presentations %}
		<a onclick="showDetails(this.id)" id='{{ presentation.presentation_id }}' >
			<div class='presentation-card'>
				<h3>{{ presentation.presentations_name }}</h3>
				<div class='modify-buttons'>
					{% if can_edit %}
						<button id='editButton' href='/presentations/{{ presentation.presentations_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</button>
					{% endif %}
					{% if can_delete %}
						<button id='deleteButton' href='/presentations/{{ presentation.presentations_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</button>
					{% endif %}
				</div>
			</div>
		</a>
		<div id='{{ presentation.presentations_id }}-overlay' class='overlay'>
			<div class='overlay-content'>
				<a href='javascript:void(0)' id='{{ presentation.presentations_id }}-overlay' class='closebtn' onclick='hideDetails(this.id)'>X</a>
				<h1>{{ presentation.presentations_name }}</h1>
				<p><strong>Slides:</strong> {{presentation.presentations_slides}}</p>	

				<div id="modify-buttons-overlay">
					{% if can_edit %}
						<button id='editButton' href='/presentations/{{ presentation.presentations_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</button>
					{% endif %}
					{% if can_delete %}
						<button id='deleteButton' href='/presentations/{{ presentation.presentations_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
