{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/presentations.css">
{% endblock %}
{% block title %}Create/Edit Presentation{% endblock %}
{% block body %}
	<h1>Create Presentation</h1>
	<ul id='errors'>
	{% for err in errors %}
		<li>{{ err }}</li>
	{% endfor %}
	</ul>
	<form id='presentation_form' action='{{ form_action }}' method='POST'>
		<h3>Basic Info</h3>
		<div class="form-basic">
			<div class="form-basic-titles">
				<p><strong>Name</strong></p>
				<p><strong>Link to Slides</strong></p>
			</div>
			<div class="form-basic-info">
				<input type='text' name='name' value='{{ data.name }}' maxlength='256' /><br>
				<input type='text' name='owner_id' value='{{ data.slides }}' maxlength='256'placeholder='required' />
			</div>
		</div>
		<div class="form-buttons">
			<input type='submit' name='create' value='{{ submit_button_text }}'/>
			<button href=''>Start over</button>
		</div>
	</form>
{% endblock %}
