.hide {
	display: none;
}

.event-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: var(--card-background);
	display: inline-block;
	width: 45%;
	table-layout: inherit;
	margin: 5px;
	border-radius: 3px;
	color: var(--card-font);
	text-decoration: none;
	padding: 1em;
}

.event-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	background-color: var(--card-back-highlight);
	color: var(--card-font);
	text-decoration: none;
}

.event-card a {
	color: var(--card-font);
	text-decoration: none;
}

.event-card:hover a {
	color: var(--card-font);
	text-decoration: none;
}

.event-card p {
	text-align: center;
	margin: auto;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.event-card h3 {
	text-align: center;
	margin: auto;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.event-card button {
	background-color: var(--card-background);
	text-decoration: none;
	vertical-align: middle;
}

.event-card:hover button {
	background-color: var(--card-back-highlight);
	text-decoration: none;
}

.other-event-options {
	display: flex;
	position: relative;
}

.show-past {
	position: absolute;
	right: 10px;
	padding: 0.5em;
}

.modify-buttons {
	text-align: center;
}

form {
	text-align: center;
}

form p,
form input,
form select {
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0.5em;
	text-align: left;
}

form .form-basic,
form .form-date,
form .form-meet,
form .form-comp {
	display: inline-flex;
}
