.hide {
	display: none;
}

.event-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: var(--card-background);
	display: table;
	width: 100%;
	table-layout: inherit;
	margin: 5px;
	border-radius: 3px;
	color: var(--card-font);
	text-decoration: none;
}

.event-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	background-color: var(--card-back-highlight);
	color: var(--card-font);
	text-decoration: none;
}

.event-card a {
	color: var(--card-font);
	text-decoration: none;
}

.event-card:hover a {
	color: var(--card-font);
	text-decoration: none;
}

.event-card p {
	display: table-cell;
	text-align: center;
}

.event-titles {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.event-titles p {
	display: table-cell;
	text-align: center;
}

.event-card button {
	background-color: var(--card-background);
	text-decoration: none;
	vertical-align: middle;
}

.event-card:hover button {
	background-color: var(--card-back-highlight);
	text-decoration: none;
}
