.hide {
	display: none;
}

.inventory-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: var(--card-background);
	display: inline-block;
	width: 45%;
	table-layout: inherit;
	margin: 5px;
	border-radius: 3px;
	color: var(--card-font);
	text-decoration: none;
	padding: 1em;
}

.inventory-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	background-color: var(--card-back-highlight);
	color: var(--card-font);
	text-decoration: none;
}

.inventory-card a {
	color: var(--card-font);
	text-decoration: none;
}

.inventory-card:hover a {
	color: var(--card-font);
	text-decoration: none;
}

.inventory-card p {
	text-align: center;
	margin: 0;
}

.inventory-card h3 {
	text-align: center;
	margin: 0;
}

.inventory-card button {
	background-color: var(--card-background);
	text-decoration: none;
	vertical-align: middle;
}

.inventory-card:hover button {
	background-color: var(--card-back-highlight);
	text-decoration: none;
}

.modify-buttons {
	text-align: center;
}
