.hide {
	display: none !important;
}
.officer-card,
.voting-member-card,
.nonvoting-member-card,
.nonstudent-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: 0.3s;
	display: inline-table;
	height: 100px;
	background-color: var(--card-background);
	border-radius: 3px;
	margin: 10px;
	text-align: center;
	color: var(--card-font);
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.officer-card {
	width: 45%;
}

.voting-member-card,
.non-voting-member-card,
.nonstudent-card {
	width: 31%;
}

.officer-card h4,
.voting-member-card h4,
.nonvoting-member-card h4,
.nonstudent-card h4 {
	margin: auto;
	width: 300px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.officer-card p {
	margin: auto;
	width: 300px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.officer-card:hover,
.voting-member-card:hover,
.nonvoting-member-card:hover,
.nonstudent-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	background-color: var(--card-back-highlight);
	color: var(--card-font);
	text-decoration: none;
}

form {
	text-align: center;
}

form p,
form input,
form select {
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0.5em;
	text-align: left;
}

form .form-name,
form .form-creds,
form .form-other,
form .form-student-info {
	display: inline-flex;
	text-align: left;
	position: relative;
	width: 300px;
}

form .form-name-textboxes,
form .form-creds-textboxes,
form .form-other-textboxes,
form .form-student-info-textboxes {
	position: absolute;
	right: 0px;
}

form .form-other {
	height: 50px;
}
