{% extends 'base.html' %}
{% block title %}People{% endblock %}
{% block body %}
<h1>People</h1>
{% if can_create %}
<p><a href='/people/new'>Create new person</a></p>
{% endif %}
<table id='people-table'>
<tr>
<th></th>
<th></th>
<th></th>
<th>Email</th>
<th>Company</th>
<th>Year</th>
<th>Major</th>
</tr>
{% for person in people %}
<tr>
<td><img src='/robohash/{{ person.people_id }}?size=20x20'/></td>
<td>{% if person.positions_title is not none() %}{{ person.positions_title }}{% endif %}</td>
<td><a href="/people/{{ person.people_id }}">{{ person.people_first_name }} {{
person.people_last_name }}</a></td>
<td>{{ person.people_email }}</td>
<td>{% if person.people_company is not none() %}{{ person.people_company }}{% endif %}</td>
<td>{% if person.students_year is not none() %}{{ person.students_year }}{% endif %}</td>
<td>{% if person.students_major is not none() %}{{ person.students_major }}{% endif %}</td>
{% if can_edit %}<td class='button'>
	<a href='/people/{{ person.people_id }}/edit'>
	<img width=15px src='/static/edit.png' alt='edit'/>
	</a>
</td>{% endif %}
{% if can_delete %}<td class='button'>
	<a href='/people/{{ person.people_id }}/delete'>
	<img width=15px src='/static/delete.png' alt='delete'/>
	</a>
</td>{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
