{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/people.css" />
	<link rel="stylesheet" href="/static/css/overlay.css" />
{% endblock %}
{% block add_head %}
	<script>
		function showDetails(id) {
			document.getElementById(id + "-overlay").style.width = "100%";
		}
		function hideDetails(id) {
			document.getElementById(id).style.width = "0%";
		}
{% endblock %}
{% block title %}People{% endblock %}
{% block body %}
	<h1>People</h1>
	{% if can_create %}
		<button onclick="location.href='new'">Create new person</button>
	{% endif %}
	{% if officers|length() > 0 %}
		<h2>Officers</h2>
		{% for o in officers|sort(attribute='officers_title') %}
			<a onclick='showDetails(this.id)' id='{{ o.officers_id }}'>
				<div class="officer-card">
					<img src='/robohash/{{ o.officers_id }}?size=100x100'/>
					<div class="officer-info">
						<h4><b>{{ o.officers_full_name }}</b></h4>
						<p>{{ o.officers_title }}</p>
					</div>
				</div>
			</a>
			<div id='{{ o.officers_id }}-overlay' class='overlay'>
				<div class='overlay-content'>
					<a href='javascript:void(0)' id='{{ o.officers_id }}-overlay' class='closebtn' onclick='hideDetails(this.id)'>X</a>
					<h1>{{ o.officers_full_name }}</h1>
					<p>{{ o.officers_title }}</p>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	{% if voting_students|length() > 0 %}
		<h2>Voting Members</h2>
		{% for s in voting_students %}
			<a onclick='showDetails(this.id)' id='{{ s.students_id }}'>
				<div class="voting-member-card">
					<img src='/robohash/{{ s.students_id }}?size=50x50'/></td>
					<h4>{{ s.not_officers_full_name }}</h4>
				</div>
			</a>
		{% endfor %}
	{% endif %}
	{% if nonvoting_students|length() > 0 %}
		<h2>Associate Members</h2>
		{% for s in nonvoting_students %}
			<a onclick='showDetails(this.id)' id='{{ s.students_id }}'>
				<div class="nonvoting-member-card">
					<img src='/robohash/{{ s.students_id }}?size=50x50'/>
					<h4>{{ s.not_officers_full_name }}</h4>
				</div>
			</a>
		{% endfor %}
	{% endif %}
	{% if others|length() > 0 %}
		<h2>Others</h2>
		{% for o in others %}
			<a onclick='showDetails(this.id)' id='{{ o.not_students_id }}'>
				<div class="nonstudent-card">
					<img src='/robohash/{{ o.not_students_id }}?size=50x50'/>
					<h4>{{ o.not_students_full_name }}</h4>
				</div>
			</a>
		{% endfor %}
	{% endif %}
{% endblock %}
