{% extends 'base.html' %}
{% block add_css %}	
	<link rel="stylesheet" href="/static/login.css" />
{% endblock %}
{% block body %}
<h1>{{ app_name }}</h1>
<ul id='errors'>
{% for err in errors %}
<li>{{ err }}</li>
{% endfor %}
</ul>
<form action='/login/' method='POST'>
<label for='email'>Email:</label>
<input name='email' type='text' />
<br/>
<label for='password'>Password:</label>
<input name='password' type='password' />
<br/>
<input type='submit' value='Login' />
<a href='/register'>Or register</a>
</form>
{% endblock %}
