{% extends 'base.html' %}
{% block title %}Create/Edit Person{% endblock %}
{% block body %}
	<h1>Create Person</h1>
	<ul id='errors'>
	{% for err in errors %}
		<li>{{ err }}</li>
	{% endfor %}
	</ul>
	<form id='people_form' action='{{ form_action }}' method='POST'>
		<table id='create-person'>
		<tr>
			<td>Name</td>
			<td><input type='text' name='fname' value='{{ data.fname }}' placeholder='required'/></td>
			<td><input type='text' name='lname' value='{{ data.lname }}'/></td>
		</tr>
		<tr>
			<td>Preferred Name</td>
			<td colspan='2'><input type='text' name='prefname' value='{{ data.prefname }}'/>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type='text' name='email' value='{{ data.email }}' placeholder='required'/></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type='password' name='password'/></td>
		</tr>
		<tr>
			<td>Company</td>
			<td><input type='text' name='company' value='{{ data.company }}'/></td>
		</tr>
		<tr>
			<td></td>
			<td colspan='2'>
				<input type='radio' id='is_student' name='type' value='student' {% if data.type == 'student' %}checked{% endif %}>
				<label for='is_student'>student</label></input>
				<input type='radio' id='is_general' name='type' value='general' {% if data.type == 'general' %}checked{% endif %}>
					<label for='is_general'>other</label>
				</input>
			</td>
		</tr>
		<tr class='student hide'>
			<td>EID</td>
			<td><input type='text' name='eid' value='{{ data.eid }}' placeholder='required'/></td>
			<td></td>
		</tr>
		<tr class='student hide'>
			<td>Year</td>
			<td>
				<select name='year'>
					<option value='' {% if data.year == '' %}selected{% endif %}>Unknown</option>
					<option value='FR' {% if data.year == 'FR' %}selected{% endif %}>Freshman</option>
					<option value='SO' {% if data.year == 'SO' %}selected{% endif %}>Sophomore</option>
					<option value='JR' {% if data.year == 'JR' %}selected{% endif %}>Junior</option>
					<option value='SR' {% if data.year == 'SR' %}selected{% endif %}>Senior</option>
					<option value='GM' {% if data.year == 'GM' %}selected{% endif %}>Grad (Masters)</option>
					<option value='GP' {% if data.year == 'GP' %}selected{% endif %}>Grad (Doctorate)</option>
				</select>
			</td>
		</tr>
		<tr class='student hide'>
			<td>Major</td>
			<td><input type='text' name='major' value='{{ data.major }}' placeholder='required'/></td>
		</tr>
		<tr class='student hide'>
			<td></td>
			<td>
				<input type='checkbox' name='voting_member' {% if data.voting_member %}checked{% endif %}/>
				<label for='voting_member'>Voting member</label>
			</td>
		</tr>
		<tr>
			<td><input type='submit' name='create' value='{{ submit_button_text }}'/></td>
			<td><a href=''>Start over</a></td>
			<td></td>
		</tr>
		</table>
	</form>
	<script src='/static/people.js'></script>
{% endblock %}
