{% extends 'base.html' %}
{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}
{% block body %}
<h1><a href='/people'>People</a></h1>
<h2>{{ person.first_name }} {{ person.last_name }}</h2>
<p>
Email: {{ person.email }}<br/>
{% if person.company is not none() %}Company: {{ person.company }}<br />{% endif %}
</p>
{% if person.year is not none() or person.major is not none() %}
<p>
Year: {{ person.year }}<br/>
Major: {{ person.major }}<br/>
</p>
{% endif %}
{% endblock %}
