{% extends 'base.html' %}
{% block title %}{{ person.people_read_first_name }} {{ person.people_read_last_name }}{% endblock %}
{% block body %}
<h1><a href='/people'>People</a></h1>
<h2>{{ person.people_read_first_name }} {{ person.people_read_last_name }}</h2>
<p>
Email: {{ person.people_read_email }}<br/>
{% if person.people_read_company is not none() %}Company: {{ person.people_read_company }}<br />{% endif %}
</p>
{% if person.students_year is not none() or person.students_major is not none() %}
<p>
Year: {{ person.students_year }}<br/>
Major: {{ person.students_major }}<br/>
</p>
{% endif %}
{% if can_edit %}
<a href='/people/{{ person.people_read_id }}/edit'>Edit</a><br/>
{% endif %}
{% if can_delete %}
<a href='/people/{{ person.people_read_id }}/delete'>Delete</a>
{% endif %}
{% endblock %}
