body {
	margin: auto;
	color: var(--color-text-1);
	background-color: var(--color-background-1);
	font-family: 'Lato', sans-serif;
}
a {
	color: var(--color-link-1);
	text-decoration: none;
}
a:hover {
	color: var(--color-link-2);
	text-decoration: underline;
}
div.regwidth {
	max-width: 1000px;
	margin: 0 auto;
}
div#headerwrapper {
	background-color: var(--color-background-2);
}
div#header {
	display: block;
	height: 90px;
}
div#headerwrapper a {
	color: var(--color-text-1);
}
div#title {
	display: inline-block;
	width: 380px;
	height: 100%;
	float: left;
	margin-right: 10px;
}
div#title h1 {
	margin: 0;
}
div#title h2 {
	margin: 0;
	font-size: medium;
}
ul#nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	top: 50px;
}
ul#nav li {
	list-style-type: none;
	float: left;
	text-transform: lowercase;
	transition: .1s;
	color: var(--color-nav-1);
}
ul#nav li:hover {
	background-color: var(--color-nav-1);
}
ul#nav li > a ,
ul#nav li > p {
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	margin: 0;
	color: var(--color-text-1);
}
ul#nav li ul {
	clear: both;
	display: none;
	padding: 0;
	margin: 0;
	width: 85px;
	position: absolute;
}
ul#nav li:hover ul {
	display: block;
	background-color: var(--color-nav-1);
}
ul#nav li ul li {
	clear: both;
	width: 100%;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
ul#nav li ul li:hover {
	background-color: var(--color-nav-2);
}
ul#nav li ul li a {
	display: block;
	padding: 2px 5px;
	text-align: center;
}
div#user-box {
	display: inline-block;
	height: 100%;
	text-align: right;
	float:right;
}
div#user-box img#header-user-img {
	display: inline;
	height: 50px;
}
div#user-box a {
	display: block;
	margin-top: auto;
}
div#contentwrapper {
}
div#content {
	display:block;
}
div#footerwrapper {
}
div#footer {
	border-top: 1px solid var(--color-text-1);
	text-align: center;
	padding-top: 20px;
	font-size: 60%;
}
table {
	border-collapse: collapse;
}
tr {
	transition: .1s;
}
tr:hover {
	background: var(--color-background-2);
}
table td,
table th {
	margin:0;
}
table td:not(:last-of-type),
table th:not(:last-of-type) {
	padding-right: 20px;
}
input#done {
	margin: 0 auto 50px 100px;
}
table#inventory-table {
	margin:40px auto 40px auto;
}
table#inventory-table td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

:root {
--color-background-1: #D3F1C8;
--color-background-2: #8BB37C;
--color-link-1: #21ADB4;
--color-link-2: #094649;
--color-nav-1: #F1405F;
--color-nav-2: #AA223A;
--color-text-1: #260D11;
}
