<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700|Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/base.css" />
		{% block add_css %}
		{% endblock %}
		<link rel="icon" href="/static/favicon.ico" />
		<title>
			{% block title %}{{ app_name }}{% endblock %}
		</title>
	{% endblock %}
	{% block add_head %}
	{% endblock %}
</head>
<body>
	{% block header %}
	<div id='headerwrapper'>
		<div id='header' class='regwidth'>
			<div id='title'>
				<a href='/'>
					<img src={{ app_logo }} alt="Logo">
				</a>
			</div>
			<ul id='nav'>
				<li><a href='/'>Home</a></li>
				<li>
					<a href='/events'>Events</a>
					<ul>
						<li><a href='/presentations'>Presentations</a></li>
					</ul>
				</li>
				{% if session.is_student %}
					<li><a href='/inventory'>Inventory</a></li>
				{% endif %}
				<li><a href='/people'>People</a></li>
				{% if session.is_officer %}
					<li><p>Officer</p>
						<ul>
							<li><a href='/register'>Sign Up</a></li>
							<li><a href='/requests'>Requests</a></li>
							<li><a href='/'>Positions</a></li>
							<li><a href='/'>VMs</a></li>
						</ul>
					</li>
				{% endif %}
				{% if session.username is not defined %}
					<li><a href='/login'>Login</a></li>
				{% else %}
					<li>
						<a href='/people/{{ session.hashed_person_id }}'>
							<div class="nav_profile">
								<img id='header-user-img' src='/robohash/{{ session.hashed_person_id }}?size=50x50'></img>
								<h4>{{ session.username }}</h4>
							</div>
						</a>
						<ul>
							<li><a href='/logout'>Logout</a></li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
    {% endblock %}
    <div id='contentwrapper'>
        <div id='content' class='regwidth'>
        {% block body %}
        {% endblock %}
        </div>
    </div>
    {% block footer %}
	<div id='footerwrapper'>
		<div id='footer' class='regwidth'>
			GNU 560/2<br>
			<a href=/about>About</a><br>
			<a href=/help>Help</a><br>
			<a href=/test>Test</a>
		</div>
	</div>
	{% endblock %}
</body>
