{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
{% block body %}
	<h1>About this Club</h1>
	<p>The Cyber Defense Club is a club that teaches students about cyber security and provides opportunities for its members to participate in cyber security competitions.</p>

	<h1>Upcoming Events</h1>
	{% for event in events %}
		<a href='/events/{{ event.event_id }}'>
			<div class='upcoming-event-card'>
				<h3>{{ event.event_name }}</h3>
				<span title='{{ event.event_start_friendly }}'>{{ event.relative_start }}</span>
			</div>
		</a>
	{% endfor %}<br>
	<button type="button">Show all events</button>
{% endblock %}
