{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/css/overlay.css">
{% endblock %}
{% block add_head %}
	<script>
		function showDetails(id) {
			document.getElementById(id + "-overlay").style.width = "100%";
		}

		function hideDetails(id) {
			document.getElementById(id).style.width = "0%";
		}
	</script>
{% endblock %}
{% block body %}
	<h1>About this Club</h1>
	<p>The Cyber Defense Club is a club that teaches students about cyber security and provides opportunities for its members to participate in cyber security competitions.<br />
	We meet most Thursdays at 6:00 p.m. in DUE 2208. </p>
	<h1>Competitions</h1>
	<p>We compete at both the regional and national level, with the following placements:</p>
	<ul>
	  <li>1st place CANSEC 2016</li>
	  <li>1st place CANSEC 2015</li>
	  <li>2nd place NCDC 2015</li>
	  <li>3rd place NCDC 2014</li>
	</ul>
	<h1>Upcoming Events</h1>
	{% for event in events %}
		<a onclick="showDetails(this.id)" id='{{ event.event_id }}'>
			<div class='upcoming-event-card'>
				<h3>{{ event.event_name }}</h3>
				<span title='{{ event.event_start_friendly }}'>{{ event.relative_start }}</span>
			</div>
		</a>
		<div id='{{event.event_id}}-overlay' class='overlay'>
			<div class='overlay-content'>
				<a href='javascript:void(0)' id='{{ event.event_id }}-overlay' class='closebtn' onclick='hideDetails(this.id)'>X</a>
				<h1>{{ event.event_name }}</h1>
				<h3>When</h3>
				<p><strong>Start:</strong> {{ event.event_end_friendly }}<br>
					{% if event.event_start_friendly != event.event_end_friendly %}
						<strong>End:</strong> {{event.event_end_friendly }}
					{% endif %}
				</p>
				<h3>Description</h3>
				<p>{{ event.event_description }}</p>

				{% if event.meeting_id %}
					{% if event.meeting_minutes %}
						<h3>Minutes</h3>
						<p>
							<a href='{{ evnet.meeting_minutes }}'>{{ event.meeting_minutes }}</a>
						</p>
					{% endif %}
					<p><strong>Required Meeting: </strong></p>
					{% if event.meeting_required is not none() and event.meeting_required %}
						<p>Yes</p><br>
					{% else %}
						<p>No</p><br>
					{% endif %}
				{% endif %}

				{% if event.competition_id %}
					<h3>Competition Details</h3>
					{% if event.competition_location %}
						<p><strong>Location:</strong> {{ event.competition_location }}</p><br>
					{% endif %}
					{% if event.competition_documentation %}
						<p><strong>Documentation:</strong>
							<a href='{{ event.competition_documentation }}'>
						</p><br>
					{% endif %}
				{% endif %}

				<div id="modify-buttons-overlay">
					{% if can_edit %}
						<a href='/events/{{ event.event_id }}/edit'>
							<img width=15px src='/static/edit.png' alt='edit'/>
						</a>
					{% endif %}
					{% if can_delete %}
						<a href='/events/{{ event.event_id }}/delete'>
							<img width=15px src='/static/delete.png' alt='delete'/>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}<br>
	<form action='/events' method='GET'>
	<button>Show all events</button>
	</form>
{% endblock %}
