{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block body %}
<h1>Events</h1>
<table id='events-table'>
<tr>
	<th></th>
	<th>Description</th>
	<th>Date</th>
	<th>Duration</th>
</tr>
{% for event in events %}
<tr>
	<td><a href='/events/{{ event.event_id }}'>{{ event.event_name }}</a></td>
	<td>{{ event.event_description }}</td>
	<td title='{{ event.event_start_timestamp }}'>{{ event.relative_start }}</td>
	<td title='{{ event.event_end_timestamp }}'>{{ event.duration }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
