{% extends 'base.html' %}
{% block add_css %}
	<link rel="stylesheet" href="/static/css/events.css">
{% endblock %}
{% block title %}Create/Edit Event{% endblock %}
{% block body %}
	<h1>Create Event</h1>
	<ul id='errors'>
	{% for err in errors %}
		<li>{{ err }}</li>
	{% endfor %}
	</ul>
	<form id='event_form' action='{{ form_action }}' method='POST'>
		<h3>Basic Info</h3>
		<div class="form-basic">
			<div class="form-basic-titles">
				<p><strong>Name</strong></p>
				<p><strong>Description</strong></p>
				<p><strong>Type</strong></p>
			</div>
			<div class="form-basic-info">
				<input type='text' maxlength='100' name='name' value='{{ data.name }}' placeholder='required'/><br>
				<input type='text' maxlength='256' name='description' value='{{ data.description }}'/><br>
				<input type='radio' id='is_meeting' name='type' value='meeting' {% if data.type == 'meeting' %}checked{% endif %}>
					<label for='is_meeting'>Meeting</label>
				</input>
				<input type='radio' id='is_competition' name='type' value='competition' {% if data.type == 'competition' %}checked{% endif %}>
					<label for='is_competition'>Competition</label>
				</input>
				<input type='radio' id='is_general' name='type' value='general' {% if data.type == 'general' %}checked{% endif %}>
					<label for='is_general'>Other</label>
				</input><br>
			</div>
		</div>
		<h3>Date Information</h3>
		<div class="form-date">
			<div class="form-date-titles">
				<p><strong>Start Date (mm/dd/yyyy)</strong></p>
				<p><strong>Start Time (hh:mm)</strong></p>
				<p><strong>End Date (mm/dd/yyyy)</strong></p>
				<p><strong>End Time (hh:mm)</strong></p>
			</div>
			<div class="form-date-info">
				<input type='text' name='start_date' value='{{ data.start_date}}' placeholder='required'/><br>
				<input type='text' name='start_time' value='{{ data.start_time }}' placeholder='required'/><br>
				<input type='text' name='end_date' value='{{ data.end_date}}' placeholder='required'/><br>
				<input type='text' name='end_time' value='{{ data.end_time }}' placeholder='required'/>
			</div>
		</div>
		<h3 class="meeting hide">Meeting Details</h3>
		<div class="meeting hide form-meet">
			<div class="meeting hide form-meet-titles">
				<p><strong>Notes</strong></p>
				<p></p>
			</div>
			<div class="meeting hide form-meet-info">
				<input type='text' name='minutes' value='{{ data.minutes }}' placeholder='link'/><br>
				<input type='checkbox' name='required' {% if data.required %}checked{% endif %}>
					<label for='required'>Required</label>
				</input>
			</div>
		</div>
		<h3 class="competition hide">Competition Details</h3>
		<div class="competition hide form-comp">
			<div class="competition hide form-comp-titles">
				<p><strong>Location</strong></p>
				<p><strong>Documentation</strong></p>
			</div>
			<div class="competition hide form-comp-info">
				<input type='text' maxlength='256' name='location' value='{{ data.location }}' placeholder='required'/><br>
				<input type='text' name='documentation' value='{{ data.documentation }}' placeholder='link'/>
			</div>
		</div>
		<div class="form-buttons">
			<input type='submit' name='create' value='{{ submit_button_text }}'/>
			<button href='' type='reset'>Start over</button>
		</div>
	</form>
	<script src='/static/events.js'></script>
{% endblock %}
